# Bienvenidos

Esto es un notebook. Podemos escribir en lenguaje Markdown, el cual nos permite:
* Listas
* Escribir en **negrita** y *cursiva*
* Más información aquí: [Markdown-Cheatsheet](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet)

### PREGUNTAD!!

Sobretodo si os perdeis, no lleguemos a casos donde no sepais que estamos haciendo.

![Imagen no cargada. Edita y borra la @ ](https://memegenerator.net/img/instances/28913469.jpg)

# Introducción

![ ](diagrama_resumen.png )

# Bibliografía 

Sobre **estadística**: [Practical Statistics for Data Scientists: 50 Essential Concepts](https://www.amazon.com/Practical-Statistics-Data-Scientists-Essential/dp/1491952962/ref=sr_1_3?ie=UTF8&qid=1518719786)


Sobre **R**: [R for Data Science: Import, Tidy, Transform, Visualize, and Model Data](https://www.amazon.com/Data-Science-Transform-Visualize-Model/dp/1491910399/ref=sr_1_1?ie=UTF8&qid=1518791084) Este libro es bastante completo, abarca mucho temario que no veremos por falta de tiempo.

Aplicaciones movil Android/iPhone: https://artofstat.com/art-of-stat-inference

## Estadística vs Machine Learning


Más información aquí: [Markdown-Cheatsheet](https://www.reddit.com/r/MachineLearningLounge/comments/9soaw4/let_me_fix_that_for_you/)


* Estadística: Trata de entender las variables y su relación entre ellas. Las estadísitcas te ayudan a entender como es tu población de datos.

* Machine Learning: Trata de hacer predicciones, crear modelos que, a partir de una población limitada puedan **generalizar** y aprender como se comportarán los datos.

# Introducción a R

R es un lenguaje de programación orientado a la estadística.

Algo parecido a SPSS o Matlab.

Es código abierto y se entrega bajo licencia GPL (versión 2 o posterior). Además existen multitud de paquetes que complementan su funcionalidad.

## Asignaciones

Podemos usar <- o el símbolo = para asignar un valor a una variable

In [3]:
a = 10
print(a)

[1] 10

In [4]:
a <- 7
print(a)

[1] 7

In [19]:
a<- 3
print(a)

[1] 3

In [20]:
10 -> b
print(b)

[1] 10

## Operaciones

In [21]:
### Operaciones matemáticas

In [22]:
b+a #Suma
b*a #Multiplicación
b-a #Resta
b/a #División: 
b %/% a #División entera: 
b %% a #Módulo: 
a^b #Potencia:

[1] 13

[1] 30

[1] 7

[1] 3.333333

[1] 3

[1] 1

[1] 59049

In [23]:
### Otro tipo de operador

In [24]:
3:10        #Secuencias

[1]  3  4  5  6  7  8  9 10

In [28]:
6 %in% 3:10 #contiene

[1] TRUE

## Funciones básicas

Las funciones 
 * siempre acaban en ()
 * pueden recibir un número variable de parámetros
 * pueden existir parámetros por defecto

Ver las variables en memoria, función ls()

In [49]:
ls()

[1] "a"  "ai" "b"  "s1"

Ver el tipo de variable, función typeof(x):

In [30]:
typeof(a)

[1] "double"

Para concatenar textos usamos paste(a, b, c, ...)

In [31]:
paste('El valor de a es',a,". Y el valor de b es",b)

[1] "El valor de a es 3 . Y el valor de b es 10"

# Tipos de datos

## double

In [34]:
a<- 2018
typeof(a)

[1] "double"

In [36]:
b<- exp(1)
b
typeof(b)

[1] 2.718282

[1] "double"

In [39]:
?exp

## integer

In [40]:
ai <- as.integer(3.7847)
ai
typeof(ai)

[1] 3

[1] "integer"

## Diferencias entre  integer y double

El número más grande que podemos representar es diferente:

In [41]:
.Machine$integer.max
.Machine$double.xmax

[1] 2147483647

[1] 1.797693e+308

El tamaño que ocupan en memoria es:

In [42]:
object.size(ai)
object.size(b)

56 bytes

56 bytes

## character

In [43]:
s1 <- " Halloween "
s1
typeof(s1)

[1] " Halloween "

[1] "character"

Las cadenas de texto se pueden concatenar usando la función paste(x,y,z...)

In [47]:
?paste

In [45]:
paste(s1,"calabaza.",a)

[1] " Halloween  calabaza. 2018"

In [46]:
paste0(s1,"calabaza.",a)

[1] " Halloween calabaza.2018"

In [48]:
paste(s1,"calabaza.",a,sep='-|-')

[1] " Halloween -|-calabaza.-|-2018"

## Logical

In [50]:
b1 <- TRUE
b2 <- T
b3 <- FALSE
paste("El valor de b1 es",b1)
paste("El valor de b2 es",b2)
paste("El valor de b3 es",b3)

[1] "El valor de b1 es TRUE"

[1] "El valor de b2 es TRUE"

[1] "El valor de b3 es FALSE"

Operaciones lógicas:


| A | B |AND|OR |XOR|NOT(A)|
|---|---|---|---|---|------|
| 0 | 0 | 0 | 0 | 0 |  1   |
| 0 | 1 | 0 | 1 | 1 |  1   |
| 1 | 0 | 0 | 1 | 1 |  0   |
| 1 | 1 | 1 | 1 | 0 |  0   |

In [51]:
print(paste("b1 AND b3:",b1 & b3))
print(paste("b1 OR  b3:",b1 | b3))
print(paste("b1 XOR b3:",xor(b1 ,b3)))
print(paste("   NOT b1:",!b1))

[1] "b1 AND b3: FALSE"
[1] "b1 OR  b3: TRUE"
[1] "b1 XOR b3: TRUE"
[1] "   NOT b1: FALSE"

## Vectores

Los vectores se crean con la función c(), todos los elementos de un vector son del mimo tipo. Es decir, no se podrían mezclar caracteres y double.

En python:

   a = [1,2,3,40]
   
En R:

   a = c(1,2,3,40)

In [53]:
?c

In [54]:
alturas <- c(1.80,1.60,1.50,1.90,1.75,1.63,1.65)
print(paste("alturas es una variable de tipo:",typeof(alturas)))

[1] "alturas es una variable de tipo: double"

In [55]:
print("Podemos ver la estructura de un objeto con la función str():")
str(alturas)

[1] "Podemos ver la estructura de un objeto con la función str():"
 num [1:7] 1.8 1.6 1.5 1.9 1.75 1.63 1.65

In [56]:
otroVector <- c("uno",2.0,"tres","14.0")
otroVector

[1] "uno"  "2"    "tres" "14.0"

In [57]:
str(otroVector)

 chr [1:4] "uno" "2" "tres" "14.0"

In [58]:
otroVector==2

[1] FALSE  TRUE FALSE FALSE

### Acceso a elementos

In [60]:
alturas

[1] 1.80 1.60 1.50 1.90 1.75 1.63 1.65

In [64]:
print(paste("El valor del tercer elemento es:",alturas[2]))

[1] "El valor del tercer elemento es: 1.6"

**¡¡En R los arrays empiezan en 1!!**
![Imagen no cargada. Edita y borra la @ ](https://i.redd.it/iwnqgrrbls5z.png )

Podemos dar nombres a cada elemento

In [65]:
myVector <- c(nombre="Philip", apellido="García", teléfono=600100100)

In [66]:
myVector

     nombre    apellido    teléfono
   "Philip"    "García" "600100100"

In [67]:
myVector["nombre"]

  nombre
"Philip"

In [68]:
myVector[2]

apellido
"García"

In [69]:
myVector["teléfono"]

   teléfono
"600100100"

In [70]:
#Los nombres de una variable se pueden ver con la función names()
names(myVector)

[1] "nombre"   "apellido" "teléfono"

In [71]:
myVector['apellido']

apellido
"García"

In [73]:
names(myVector) <- c("nombre_actualizado","apellido_actualizado", "telefono_actualizado")

In [74]:
myVector

  nombre_actualizado apellido_actualizado telefono_actualizado
            "Philip"             "García"          "600100100"

### Operaciones con vectores

Al operar contra una variable se aplica esa operación a todos los elementos del vector

In [75]:
metro2pie <- 3.28084
alturasEnPies <- alturas * metro2pie
alturasEnPies

[1] 5.905512 5.249344 4.921260 6.233596 5.741470 5.347769 5.413386

Si se opera con dos vectores de la misma longitud se aplica elemento a elemento.

In [81]:
alturas

[1] 1.80 1.60 1.50 1.90 1.75 1.63 1.65

In [83]:
alturaDeLosZapatos <- c(2,0,1,3,5,7,0)/100
alturaReal <- alturas-alturaDeLosZapatos
alturaReal

[1] 1.78 1.60 1.49 1.87 1.70 1.56 1.65

Se puede operar con vectores de tamaños diferentes, en este caso el vector más pequeño se replica

In [84]:
alturas*c(1,0)

Warning message in alturas * c(1, 0):
“longer object length is not a multiple of shorter object length”

[1] 1.80 0.00 1.50 0.00 1.75 0.00 1.65

Concatenar vectores

In [85]:
c(alturas,2,1.8,17)

 [1]  1.80  1.60  1.50  1.90  1.75  1.63  1.65  2.00  1.80 17.00

Longitud de un vector se obtiene con la función length()

In [86]:
length(alturas)

[1] 7

La estructura de la variable se puede ver con la función str()

In [87]:
str(alturas)

 num [1:7] 1.8 1.6 1.5 1.9 1.75 1.63 1.65

In [91]:
alturas[6] <- 1.73
alturas

[1] 1.80 1.60 1.50 1.90 1.75 1.73 1.65

In [92]:
alturas[18] <- 1.9

In [93]:
alturas

 [1] 1.80 1.60 1.50 1.90 1.75 1.73 1.65   NA   NA   NA   NA   NA   NA   NA   NA
[16]   NA   NA 1.90

In [94]:
length(alturas)

[1] 18

## Listas

Las listas se pueden considerar como vectores que pueden almacenar cualquier tipo de dato.

In [95]:
c(1,3,"catorce","panama")

[1] "1"       "3"       "catorce" "panama"

In [96]:
myList<-list(1,3,"catorce","panama")
str(myList)

List of 4
 $ : num 1
 $ : num 3
 $ : chr "catorce"
 $ : chr "panama"

In [97]:
myList

[[1]]
[1] 1

[[2]]
[1] 3

[[3]]
[1] "catorce"

[[4]]
[1] "panama"

Podemos asignar un nombre a cada valor

In [98]:
datosPersonales<-list(nombre="Philip",
                   apellido="García",
                   teléfono=600100100)
datosPersonales

$nombre
[1] "Philip"

$apellido
[1] "García"

$teléfono
[1] 600100100

### Acceso a elementos

Podemos acceder a los distintos elementos utilizando su índice o nombre:

In [101]:
datosPersonales[1]

$nombre
[1] "Philip"

In [102]:
str(datosPersonales[1])

List of 1
 $ nombre: chr "Philip"

In [104]:
datosPersonales[[1]]
str(datosPersonales[[1]])

[1] "Philip"

 chr "Philip"

In [107]:
datosPersonales[["nombre"]]

[1] "Philip"

In [108]:
datosPersonales$nombre

[1] "Philip"

In [109]:
datosPersonales$`teléfono`

[1] 600100100

In [110]:
is.null(datosPersonales[["direccion"]])

[1] TRUE

In [113]:
datosPersonales[["direccion"]]

NULL

In [114]:
names(datosPersonales)

[1] "nombre"   "apellido" "teléfono"

In [115]:
datosPersonales[["direccion"]] <- list(ciudad="Madrid",calle="Desengaño",numero=21)
datosPersonales[["direccion"]]

$ciudad
[1] "Madrid"

$calle
[1] "Desengaño"

$numero
[1] 21

In [116]:
datosPersonales

$nombre
[1] "Philip"

$apellido
[1] "García"

$teléfono
[1] 600100100

$direccion
$direccion$ciudad
[1] "Madrid"

$direccion$calle
[1] "Desengaño"

$direccion$numero
[1] 21

In [117]:
datosPersonales[["direccion"]]$calle

[1] "Desengaño"

In [118]:
print(paste("La longitud total de la lista es",length(datosPersonales)))

[1] "La longitud total de la lista es 4"

In [119]:
names(datosPersonales)

[1] "nombre"    "apellido"  "teléfono"  "direccion"

In [120]:
names(datosPersonales$direccion)

[1] "ciudad" "calle"  "numero"

## Factores

En estadística tenemos fundamentalmente dos tipos de variables:

* **Numéricas:** Estos datos tienen significado como medidas, por ejemplo la altura, peso, presión sanguinea, número de mascotas.
* **Categóricas:** Estos representan una característica, por ejemplo el género, color, sabores, ciudad.

Los factores son útiles cuando trabajamos con **variables categóricas**. Ej: Población de origen, colores, sabores

In [122]:
saboresDePlatos<-c("Dulce","Salado","Ácido","Amargo","Umami","Dulce","Salado","Ácido","Umami","Umami","Salado")
saboresDePlatosFactor<-factor(saboresDePlatos)

In [125]:
saboresDePlatos

 [1] "Dulce"  "Salado" "Ácido"  "Amargo" "Umami"  "Dulce"  "Salado" "Ácido"
 [9] "Umami"  "Umami"  "Salado"

In [126]:
saboresDePlatosFactor

 [1] Dulce  Salado Ácido  Amargo Umami  Dulce  Salado Ácido  Umami  Umami
[11] Salado
Levels: Ácido Amargo Dulce Salado Umami

In [128]:
summary(saboresDePlatos)

   Length     Class      Mode
       11 character character

In [129]:
summary(saboresDePlatosFactor)

 Ácido Amargo  Dulce Salado  Umami
     2      1      2      3      3

In [130]:
str(saboresDePlatos)

 chr [1:11] "Dulce" "Salado" "Ácido" "Amargo" "Umami" "Dulce" "Salado" ...

In [131]:
str(saboresDePlatosFactor)

 Factor w/ 5 levels "Ácido","Amargo",..: 3 4 1 2 5 3 4 1 5 5 ...

In [132]:
saboresDePlatosFactor

 [1] Dulce  Salado Ácido  Amargo Umami  Dulce  Salado Ácido  Umami  Umami
[11] Salado
Levels: Ácido Amargo Dulce Salado Umami

In [133]:
print("Los factores internamente se gestionan como enteros")
as.numeric(saboresDePlatosFactor)

[1] "Los factores internamente se gestionan como enteros"

 [1] 3 4 1 2 5 3 4 1 5 5 4

In [134]:
paste("sabor:",levels(saboresDePlatosFactor))

[1] "sabor: Ácido"  "sabor: Amargo" "sabor: Dulce"  "sabor: Salado"
[5] "sabor: Umami"

In [137]:
paste(levels(saboresDePlatosFactor), collapse=", ")
# En python sería: ", ".join(vector)

[1] "Ácido, Amargo, Dulce, Salado, Umami"

In [139]:
print(paste("Podemos ver los niveles con el comando levels:",
            paste(levels(saboresDePlatosFactor),collapse=",")))

[1] "Podemos ver los niveles con el comando levels: Ácido,Amargo,Dulce,Salado,Umami"

In [140]:
factor(c(1,0,0,1,0,1),labels=c("NO","SI"))

[1] SI NO NO SI NO SI
Levels: NO SI

In [143]:
factor(c(10,5,5,0,5,0),labels=c("BAJO","MEDIO","ALTO"))

[1] ALTO  MEDIO MEDIO BAJO  MEDIO BAJO
Levels: BAJO MEDIO ALTO

# Matrices

Podemos crear matrices con la función matrix. Como parámetros de entrada recibe un vector y el número de columnas (*ncol*) o filas (nrow). Un parámetro opcional (*byrow*) indica si la matriz se va a rellenar por filas o por columnas (valor por defecto)

In [144]:
1:12

 [1]  1  2  3  4  5  6  7  8  9 10 11 12

In [145]:
m1<-matrix(c(1:12),ncol=3)
m1

     [,1] [,2] [,3]
[1,] 1    5     9
[2,] 2    6    10
[3,] 3    7    11
[4,] 4    8    12

In [ ]:
?matrix

In [146]:
m2<-matrix(c(1:12),ncol=3,byrow=T)
m2

     [,1] [,2] [,3]
[1,]  1    2    3
[2,]  4    5    6
[3,]  7    8    9
[4,] 10   11   12

La dimensión del array se puede ver con la función *dim()* o con *str()*

In [147]:
dim(m1)

[1] 4 3

In [148]:
length(m1)

[1] 12

In [149]:
str(m2)

 int [1:4, 1:3] 1 4 7 10 2 5 8 11 3 6 ...

### Acceso

El acceso se realiza igual que los vectores, pero aquí tenemos dos dimensiones.

In [150]:
m1[1,3]

[1] 9

También podemos dar nombres a las filas y columnas para luego poder acceder utilizando el nombre

In [ ]:
?paste0

In [ ]:
paste0("row",1:4)

In [151]:
colnames(m1)<-paste0("col",1:3)
rownames(m1)<-paste0("row",1:4)
m1

     col1 col2 col3
row1 1    5     9
row2 2    6    10
row3 3    7    11
row4 4    8    12

In [152]:
paste("El valor de 'row1' y 'col3' es:",m1["row1","col3"])

[1] "El valor de 'row1' y 'col3' es: 9"

Las funciones *colnames* y *rownames*

In [153]:
rownames(m1)

[1] "row1" "row2" "row3" "row4"

### Operaciones con matrices 
#### Álgebra lineal básica

In [ ]:
m1

Transpuesta

In [ ]:
t(m1)

Suma de constante

In [ ]:
m1+10

Suma de matrices

In [ ]:
m1+m2

Multiplicación de matrices

In [ ]:
m1 %*% matrix(rep(1,12),nrow=3)

In [ ]:
rep("a",5)

Submatrices

In [ ]:
m1[2:4,2:3]

In [ ]:
m1[c(3,2,4),2:3]

# Tablas

Se utilizan para estudios de frecuencia. Cuentan el número de veces que ha ocurrido algo.

In [154]:
saboresDePlatos

 [1] "Dulce"  "Salado" "Ácido"  "Amargo" "Umami"  "Dulce"  "Salado" "Ácido"
 [9] "Umami"  "Umami"  "Salado"

In [155]:
tblSabores<-table(saboresDePlatos)
tblSabores

saboresDePlatos
 Ácido Amargo  Dulce Salado  Umami
     2      1      2      3      3

In [156]:
names(tblSabores)

[1] "Ácido"  "Amargo" "Dulce"  "Salado" "Umami"

In [157]:
str(tblSabores)

 'table' int [1:5(1d)] 2 1 2 3 3
 - attr(*, "dimnames")=List of 1
  ..$ saboresDePlatos: chr [1:5] "Ácido" "Amargo" "Dulce" "Salado" ...

Los atributos son una lista de propiedades asociadas a un objeto en R

In [ ]:
attributes(tblSabores)

In [ ]:
class(tblSabores)

In [ ]:
attributes(tblSabores)$dimnames$saboresDePlatos

In [158]:
color  <- c("marrón","negro","blanco","negro","blanco","negro","negro","marrón","marrón","marrón")
animal <- c("gato","gato","perro","gato","gato","perro","perro","perro","gato","gato")

tbl_animal<-table(animal,color)
tbl_animal

       color
animal  blanco marrón negro
  gato       1      3     2
  perro      1      1     2

In [159]:
str(tbl_animal)

 'table' int [1:2, 1:3] 1 1 3 1 2 2
 - attr(*, "dimnames")=List of 2
  ..$ animal: chr [1:2] "gato" "perro"
  ..$ color : chr [1:3] "blanco" "marrón" "negro"

In [160]:
attributes(tbl_animal)$dimnames

$animal
[1] "gato"  "perro"

$color
[1] "blanco" "marrón" "negro"

In [161]:
attributes(tbl_animal)

$dim
[1] 2 3

$dimnames
$dimnames$animal
[1] "gato"  "perro"

$dimnames$color
[1] "blanco" "marrón" "negro"


$class
[1] "table"

## Miniresumen parcial

Vector

In [163]:
vecto_pesos <- c(5,7,8,9,10)
vecto_pesos[2:4]

[1] 7 8 9

Listas

In [165]:
lista_medidas <- list(altura=1.5, ancho=1, peso = 3, unidades_peso="Kg", unidades_medida="m", 
                      fabricacion=list(numeroserie="A1238656", origen="Zamora"))
lista_medidas

$altura
[1] 1.5

$ancho
[1] 1

$peso
[1] 3

$unidades_peso
[1] "Kg"

$unidades_medida
[1] "m"

$fabricacion
$fabricacion$numeroserie
[1] "A1238656"

$fabricacion$origen
[1] "Zamora"

In [166]:
lista_medidas[["altura"]]

[1] 1.5

## Data Frame

Un Dataframe es una tabla como la que podemos encontrar en cualquier hoja de calculo.

![](pics/ejemplo_dataframe.png)

La información se estructura en columnas, cada columna puede ser de un tipo de variable diferente: categorica, numerica, fecha, etc..

Cada fila representa un elemento u objeto cuyos atributos están representados por las columnas.

En R se definen como un conjunto de vectores de la misma longitud. Cada vector puede ser de un tipo diferente.

In [167]:
plt <- c("Bollo","Palomitas","Limón","Ginebra","Noodles","Caramelo","Patatas fritas","Naranja","Ternera","Cerdo","Sopa")
cal <-c(150,200,10,20,200,5,500,15,450,460,30)

In [168]:
idx<- 5 
paste("Elemento",idx,":",plt[idx],"-",cal[idx],"cal")

[1] "Elemento 5 : Noodles - 200 cal"

In [169]:
comidas<-data.frame(plato=plt, calorias=cal, sabor=saboresDePlatos, stringsAsFactors = F)
comidas
str(comidas)

   plato          calorias sabor
1  Bollo          150      Dulce
2  Palomitas      200      Salado
3  Limón           10      Ácido
4  Ginebra         20      Amargo
5  Noodles        200      Umami
6  Caramelo         5      Dulce
7  Patatas fritas 500      Salado
8  Naranja         15      Ácido
9  Ternera        450      Umami
10 Cerdo          460      Umami
11 Sopa            30      Salado

'data.frame':	11 obs. of  3 variables:
 $ plato   : chr  "Bollo" "Palomitas" "Limón" "Ginebra" ...
 $ calorias: num  150 200 10 20 200 5 500 15 450 460 ...
 $ sabor   : chr  "Dulce" "Salado" "Ácido" "Amargo" ...

### Acceso a elementos de un data frame

Acceso por filas:

In [182]:
comidas[2:4,  ]

  plato     calorias sabor
2 Palomitas 200      Salado
3 Limón      10      Ácido
4 Ginebra    20      Amargo

In [174]:
comidas[c(-1,-3,-5,-10,-11),]

  plato          calorias sabor
2 Palomitas      200      Salado
4 Ginebra         20      Amargo
6 Caramelo         5      Dulce
7 Patatas fritas 500      Salado
8 Naranja         15      Ácido
9 Ternera        450      Umami

Acceso por columnas:

In [175]:
comidas[,c("plato","calorias")]

   plato          calorias
1  Bollo          150
2  Palomitas      200
3  Limón           10
4  Ginebra         20
5  Noodles        200
6  Caramelo         5
7  Patatas fritas 500
8  Naranja         15
9  Ternera        450
10 Cerdo          460
11 Sopa            30

Se puede usar el símbolo **$** para acceder a una columna.  
Las siguientes dos llamadas son equivalentes:

In [176]:
comidas$plato

 [1] "Bollo"          "Palomitas"      "Limón"          "Ginebra"
 [5] "Noodles"        "Caramelo"       "Patatas fritas" "Naranja"
 [9] "Ternera"        "Cerdo"          "Sopa"

In [177]:
comidas[,"plato"]

 [1] "Bollo"          "Palomitas"      "Limón"          "Ginebra"
 [5] "Noodles"        "Caramelo"       "Patatas fritas" "Naranja"
 [9] "Ternera"        "Cerdo"          "Sopa"

In [183]:
comidas[,1]

 [1] "Bollo"          "Palomitas"      "Limón"          "Ginebra"
 [5] "Noodles"        "Caramelo"       "Patatas fritas" "Naranja"
 [9] "Ternera"        "Cerdo"          "Sopa"

In [184]:
comidas[,c(-1,-2)]

 [1] "Dulce"  "Salado" "Ácido"  "Amargo" "Umami"  "Dulce"  "Salado" "Ácido"
 [9] "Umami"  "Umami"  "Salado"

In [185]:
comidas$plato[2:3]

[1] "Palomitas" "Limón"

In [186]:
comidas[2:3,"plato"]

[1] "Palomitas" "Limón"

In [187]:
colnames(comidas)

[1] "plato"    "calorias" "sabor"

Número de filas que tiene un dataframe:

In [188]:
nrow(comidas)

[1] 11

Número de columnas

In [189]:
ncol(comidas)

[1] 3

También podemos dar nombres a las filas

In [190]:
rownames(comidas)<-paste0("comida",1:nrow(comidas))
comidas

         plato          calorias sabor
comida1  Bollo          150      Dulce
comida2  Palomitas      200      Salado
comida3  Limón           10      Ácido
comida4  Ginebra         20      Amargo
comida5  Noodles        200      Umami
comida6  Caramelo         5      Dulce
comida7  Patatas fritas 500      Salado
comida8  Naranja         15      Ácido
comida9  Ternera        450      Umami
comida10 Cerdo          460      Umami
comida11 Sopa            30      Salado

In [191]:
comidas["comida5","calorias"]

[1] 200

In [192]:
comidas[5,"calorias"]

[1] 200

In [193]:
comidas[c(4,2),c(3,2,1)]

        sabor  calorias plato
comida4 Amargo  20      Ginebra
comida2 Salado 200      Palomitas

El nombre de las columnas y de las filas se puede obtener y modificar con las funciones **colnames()** y **rownames()**.

In [194]:
colnames(comidas)
rownames(comidas)

[1] "plato"    "calorias" "sabor"

 [1] "comida1"  "comida2"  "comida3"  "comida4"  "comida5"  "comida6"
 [7] "comida7"  "comida8"  "comida9"  "comida10" "comida11"

In [195]:
summary(comidas)

    plato              calorias        sabor
 Length:11          Min.   :  5.0   Length:11
 Class :character   1st Qu.: 17.5   Class :character
 Mode  :character   Median :150.0   Mode  :character
                    Mean   :185.5
                    3rd Qu.:325.0
                    Max.   :500.0

Para acceder a la fila que contiene el mínimo de calorías:

In [201]:
comidas[which.min(comidas$calorias),]

  plato    calorias sabor
6 Caramelo 5        Dulce

In [204]:
comidas[which.min(comidas$calorias),]$sabor
comidas[which.min(comidas$calorias),"sabor"]
comidas[which.min(comidas$calorias),3]

[1] Dulce
Levels: Ácido Amargo Dulce Salado Umami

[1] Dulce
Levels: Ácido Amargo Dulce Salado Umami

[1] Dulce
Levels: Ácido Amargo Dulce Salado Umami

### Dataset con variable categoricas

In [196]:
comidas<-data.frame(plato=plt, calorias=cal, sabor=saboresDePlatos, stringsAsFactors = T)
comidas
str(comidas)

   plato          calorias sabor
1  Bollo          150      Dulce
2  Palomitas      200      Salado
3  Limón           10      Ácido
4  Ginebra         20      Amargo
5  Noodles        200      Umami
6  Caramelo         5      Dulce
7  Patatas fritas 500      Salado
8  Naranja         15      Ácido
9  Ternera        450      Umami
10 Cerdo          460      Umami
11 Sopa            30      Salado

'data.frame':	11 obs. of  3 variables:
 $ plato   : Factor w/ 11 levels "Bollo","Caramelo",..: 1 8 5 4 7 2 9 6 11 3 ...
 $ calorias: num  150 200 10 20 200 5 500 15 450 460 ...
 $ sabor   : Factor w/ 5 levels "Ácido","Amargo",..: 3 4 1 2 5 3 4 1 5 5 ...

In [197]:
summary(comidas)

      plato      calorias        sabor
 Bollo   :1   Min.   :  5.0   Ácido :2
 Caramelo:1   1st Qu.: 17.5   Amargo:1
 Cerdo   :1   Median :150.0   Dulce :2
 Ginebra :1   Mean   :185.5   Salado:3
 Limón   :1   3rd Qu.:325.0   Umami :3
 Naranja :1   Max.   :500.0
 (Other) :5

## Arrays 3D

Se pueden crear arrays N-dimensionales con la función array

In [ ]:
arr<-array(1:12,dim = c(3,2,2))
arr

El acceso a elementos es similar al de las matrices

In [ ]:
arr[1,2,1]

In [ ]:
arr[1,,]

In [ ]:
arr[2,,]

In [ ]:
arr[3,,]

In [ ]:
arr[4,,]

In [ ]:
arr[,2,]

## Fechas

Existen dos objetos para almacenar fechas en R.

* Posixct es recubrimiento sobre un timestamp en segundos.
* Posixlt es una lista de objetos que contiene la información de la fecha

In [206]:
d1<-as.POSIXct("2018-10-5 15:40")
d2<-as.POSIXct("5/10/2018 17:33",format="%m/%d/%Y %H:%M")

d1
d2

[1] "2018-10-05 15:40:00 UTC"

[1] "2018-05-10 17:33:00 UTC"

In [208]:
?strptime

In [209]:
str(d1)

 POSIXct[1:1], format: "2018-10-05 15:40:00"

In [210]:
class(d1)

[1] "POSIXct" "POSIXt"

In [211]:
unclass(d1)

[1] 1538754000
attr(,"tzone")
[1] ""

In [219]:
d1+60*60*24

[1] "2018-10-06 15:40:00 UTC"

In [222]:
as.POSIXct('2022-10-31 19:30', tz='CET')-60*60*24*3

[1] "2022-10-28 20:30:00 CEST"

In [223]:
d3<-as.POSIXlt("2018-4-5")
d3

[1] "2018-04-05 UTC"

In [225]:
unclass(d3)

$sec
[1] 0

$min
[1] 0

$hour
[1] 0

$mday
[1] 5

$mon
[1] 3

$year
[1] 118

$wday
[1] 4

$yday
[1] 94

$isdst
[1] 0

$zone
[1] "UTC"

$gmtoff
[1] NA

In [226]:
d3$mday<-6

In [227]:
d3

[1] "2018-04-06 UTC"

In [228]:
str(d3)

 POSIXlt[1:1], format: "2018-04-06"

In [229]:
c(as.POSIXct("2018-01-01"),as.POSIXct("2018-01-02"),as.POSIXct("2018-01-03"))

[1] "2018-01-01 UTC" "2018-01-02 UTC" "2018-01-03 UTC"

In [230]:
df<-data.frame(fecha=c(as.POSIXlt("2018-01-01"),as.POSIXlt("2018-01-02"),as.POSIXlt("2018-01-03")))
str(df)

'data.frame':	3 obs. of  1 variable:
 $ fecha: POSIXct, format: "2018-01-01" "2018-01-02" ...

## Valores infinitos y NaN (Not a Number)

Inf y -Inf son negativo positivo y negativo, mientras que NaN significa "Not a Number"

In [234]:
#x<- 10
#x<- 1/0
x<- 0/0
paste("El valor de x es",x)

is.finite(x)
is.infinite(x)
is.nan(x)

[1] "El valor de x es NaN"

[1] FALSE

[1] FALSE

[1] TRUE

In [236]:
#Valores NaN
is.nan(NaN)
is.nan(0/0)
is.nan(Inf-Inf)

[1] TRUE

[1] TRUE

[1] TRUE

La comprobación de si un número es NaN se tiene que realizar con la funcion is.nan()

In [237]:
x<-NaN
x==NaN
is.nan(x)

[1] NA

[1] TRUE

## Valores NULL

Simplemente son valores que no existen. Es un concepto similar a otros lenguajes como Java o C.

In [1]:
# Los valores NULL simplemente se ignoran
c(1,2,NA,NULL,3,NULL,3,NULL)

[1]  1  2 NA  3  3

In [239]:
x<-NULL
x
is.null(x)

NULL

[1] TRUE

In [240]:
df<-data.frame(x=c(1,2,1,1),y=c(3,2,1,1))
df

  x y
1 1 3
2 2 2
3 1 1
4 1 1

In [241]:
df$y<- NULL
df

  x
1 1
2 2
3 1
4 1

In [244]:
df$y
is.null(df$y)

NULL

[1] TRUE

## Valores no disponibles / Missing Values

Son valores para los cuales no tenemos ninguna medida, se representan con un NA ("Not Available).

Pertenecen a valores perdidos que no se han podido recuperar, errores de medida, perdidas de datos, etc..

En R los detectamos con: *is.na(x)*

y podemos reemplazar su valor con la media, moda, mediana, etc...

o simplemente eliminarlos: *na.omit(x)*

Si estamos trabajando con series temporales es posible que queramos hacer una interpolación de los valores perdidos:

zoo::na.approx(x)

In [2]:
NA

[1] NA

In [3]:
data<-c(1,3,NA,6)
data

[1]  1  3 NA  6

In [4]:
is.na(data)

[1] FALSE FALSE  TRUE FALSE

In [5]:
na.omit(data)

[1] 1 3 6
attr(,"na.action")
[1] 3
attr(,"class")
[1] "omit"

In [6]:
paste("El número de elementos con NA:",length(data[is.na(data)]))

[1] "El número de elementos con NA: 1"

In [8]:
sum(is.na(data))

[1] 1

In [9]:
paste("El número de elementos que NO son NA:",length(data[!is.na(data)]))

[1] "El número de elementos que NO son NA: 3"

In [15]:
!is.na(data)

[1] TRUE TRUE TRUE TRUE

In [10]:
data[!is.na(data)]

[1] 1 3 6

In [12]:
data[1]<-10
data

[1] 10  3 NA  6

In [13]:
data[is.na(data)] <- 28
data

[1] 10  3 28  6

## Ejemplo datos reales


#### Dataset coches

Partimos del dataset de seguro de automóviles que podemos descargar de:

https://archive.ics.uci.edu/ml/datasets/Automobile

In [16]:
autos<-read.csv("./data//imports-85.data", col.names = c("risk", "normalized_losses", 
                                                         "make", "fuel_type", "aspiration",
           "num_doors", "body_style", "drive_wheels", "engine_location",
           "wheel_base", "length", "width", "height", "curb_weight",
           "engine_type", "num_cylinders", "engine_size", "fuel_system",
           "bore", "stroke", "compression_ratio", "horsepower", "peak_rpm",
           "city_mpg", "highway_mpg", "price"), stringsAsFactors=F)

In [19]:
head(autos,5)

  risk normalized_losses make        fuel_type aspiration num_doors body_style
1 3    ?                 alfa-romero gas       std        two       convertible
2 1    ?                 alfa-romero gas       std        two       hatchback
3 2    164               audi        gas       std        four      sedan
4 2    164               audi        gas       std        four      sedan
5 2    ?                 audi        gas       std        two       sedan
  drive_wheels engine_location wheel_base ⋯ engine_size fuel_system bore stroke
1 rwd          front           88.6       ⋯ 130         mpfi        3.47 2.68
2 rwd          front           94.5       ⋯ 152         mpfi        2.68 3.47
3 fwd          front           99.8       ⋯ 109         mpfi        3.19 3.40
4 4wd          front           99.4       ⋯ 136         mpfi        3.19 3.40
5 fwd          front           99.8       ⋯ 136         mpfi        3.19 3.40
  compression_ratio horsepower peak_rpm city_mpg highway_mpg price
1  9.0              111        5000     21       27          16500
2  9.0              154        5000     19       26          16500
3 10.0              102        5500     24       30          13950
4  8.0              115        5500     18       22          17450
5  8.5              110        5500     19       25          15250

In [20]:
str(autos)

'data.frame':	204 obs. of  26 variables:
 $ risk             : int  3 1 2 2 2 1 1 1 0 2 ...
 $ normalized_losses: chr  "?" "?" "164" "164" ...
 $ make             : chr  "alfa-romero" "alfa-romero" "audi" "audi" ...
 $ fuel_type        : chr  "gas" "gas" "gas" "gas" ...
 $ aspiration       : chr  "std" "std" "std" "std" ...
 $ num_doors        : chr  "two" "two" "four" "four" ...
 $ body_style       : chr  "convertible" "hatchback" "sedan" "sedan" ...
 $ drive_wheels     : chr  "rwd" "rwd" "fwd" "4wd" ...
 $ engine_location  : chr  "front" "front" "front" "front" ...
 $ wheel_base       : num  88.6 94.5 99.8 99.4 99.8 ...
 $ length           : num  169 171 177 177 177 ...
 $ width            : num  64.1 65.5 66.2 66.4 66.3 71.4 71.4 71.4 67.9 64.8 ...
 $ height           : num  48.8 52.4 54.3 54.3 53.1 55.7 55.7 55.9 52 54.3 ...
 $ curb_weight      : int  2548 2823 2337 2824 2507 2844 2954 3086 3053 2395 ...
 $ engine_type      : chr  "dohc" "ohcv" "ohc" "ohc" ...
 $ num_cylinders    : chr  "four" "six" "four" "five" ...
 $ engine_size      : int  130 152 109 136 136 136 136 131 131 108 ...
 $ fuel_system      : chr  "mpfi" "mpfi" "mpfi" "mpfi" ...
 $ bore             : chr  "3.47" "2.68" "3.19" "3.19" ...
 $ stroke           : chr  "2.68" "3.47" "3.40" "3.40" ...
 $ compression_ratio: num  9 9 10 8 8.5 8.5 8.5 8.3 7 8.8 ...
 $ horsepower       : chr  "111" "154" "102" "115" ...
 $ peak_rpm         : chr  "5000" "5000" "5500" "5500" ...
 $ city_mpg         : int  21 19 24 18 19 19 19 17 16 23 ...
 $ highway_mpg      : int  27 26 30 22 25 25 25 20 22 29 ...
 $ price            : chr  "16500" "16500" "13950" "17450" ...

In [21]:
nrow(autos)

[1] 204

In [22]:
ncol(autos)

[1] 26

Nos quedamos solo con las columnas: "price","horsepower","body_style","risk"

In [29]:
autos <- autos[,c("price","horsepower","body_style","risk")]
str(autos)

'data.frame':	204 obs. of  4 variables:
 $ price     : chr  "16500" "16500" "13950" "17450" ...
 $ horsepower: chr  "111" "154" "102" "115" ...
 $ body_style: chr  "convertible" "hatchback" "sedan" "sedan" ...
 $ risk      : int  3 1 2 2 2 1 1 1 0 2 ...

In [30]:
ncol(autos)

[1] 4

En este CSV cuando existe un valor desconocido lo han indicado con el caracter '?'. Por ese motivo la columna 'price' y 'horsepower' es factor en lugar de numeric.
Tenemos que indicarle a R que son NA:

In [35]:
ids_na_hp <- autos$horsepower=='?'
ids_na_hp

  [1] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
 [13] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
 [25] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
 [37] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
 [49] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
 [61] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
 [73] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
 [85] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
 [97] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[109] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[121] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE  TRUE  TRUE FALSE
[133] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[145] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[157] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[169] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[181] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[193] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE

In [36]:
autos$horsepower[ids_na_hp] <- NA

In [38]:
table(autos$horsepower)

100 101 102 106 110 111 112 114 115 116 120 121 123 134 135 140 142 143 145 152
  2   6   5   1   8   3   2   6   1   9   1   3   4   1   1   1   1   1   5   3
154 155 156 160 161 162 175 176 182 184 200 207 262 288  48  52  55  56  58  60
  1   2   2   6   2   2   1   2   3   2   1   3   1   1   1   2   1   2   1   1
 62  64  68  69  70  72  73  76  78  82  84  85  86  88  90  92  94  95  97
  6   1  19  10  11   1   3   5   1   5   5   3   4   6   3   4   2   7   5

In [39]:
autos$price[autos$price=='?']<-NA

In [41]:
autos$price

  [1] "16500" "16500" "13950" "17450" "15250" "17710" "18920" "23875" NA
 [10] "16430" "16925" "20970" "21105" "24565" "30760" "41315" "36880" "5151"
 [19] "6295"  "6575"  "5572"  "6377"  "7957"  "6229"  "6692"  "7609"  "8558"
 [28] "8921"  "12964" "6479"  "6855"  "5399"  "6529"  "7129"  "7295"  "7295"
 [37] "7895"  "9095"  "8845"  "10295" "12945" "10345" "6785"  NA      NA
 [46] "11048" "32250" "35550" "36000" "5195"  "6095"  "6795"  "6695"  "7395"
 [55] "10945" "11845" "13645" "15645" "8845"  "8495"  "10595" "10245" "10795"
 [64] "11245" "18280" "18344" "25552" "28248" "28176" "31600" "34184" "35056"
 [73] "40960" "45400" "16503" "5389"  "6189"  "6669"  "7689"  "9959"  "8499"
 [82] "12629" "14869" "14489" "6989"  "8189"  "9279"  "9279"  "5499"  "7099"
 [91] "6649"  "6849"  "7349"  "7299"  "7799"  "7499"  "7999"  "8249"  "8949"
[100] "9549"  "13499" "14399" "13499" "17199" "19699" "18399" "11900" "13200"
[109] "12440" "13860" "15580" "16900" "16695" "17075" "16630" "17950" "18150"
[118] "5572"  "7957"  "6229"  "6692"  "7609"  "8921"  "12764" "22018" "32528"
[127] "34028" "37028" NA      "9295"  "9895"  "11850" "12170" "15040" "15510"
[136] "18150" "18620" "5118"  "7053"  "7603"  "7126"  "7775"  "9960"  "9233"
[145] "11259" "7463"  "10198" "8013"  "11694" "5348"  "6338"  "6488"  "6918"
[154] "7898"  "8778"  "6938"  "7198"  "7898"  "7788"  "7738"  "8358"  "9258"
[163] "8058"  "8238"  "9298"  "9538"  "8449"  "9639"  "9989"  "11199" "11549"
[172] "17669" "8948"  "10698" "9988"  "10898" "11248" "16558" "15998" "15690"
[181] "15750" "7775"  "7975"  "7995"  "8195"  "8495"  "9495"  "9995"  "11595"
[190] "9980"  "13295" "13845" "12290" "12940" "13415" "15985" "16515" "18420"
[199] "18950" "16845" "19045" "21485" "22470" "22625"

In [43]:
autos[is.na(autos$price),]

    price horsepower body_style risk
9   NA    160        hatchback  0
44  NA    70         sedan      1
45  NA    70         sedan      0
129 NA    288        hatchback  1

Tenemos que convertir el factor de 'price' y 'horsepower' en valores numéricos:

In [48]:
autos$price <- as.numeric(autos$price)
autos$horsepower <- as.numeric(autos$horsepower)
autos$body_style <- as.factor(autos$body_style)

In [49]:
summary(autos)

     price         horsepower          body_style      risk
 Min.   : 5118   Min.   : 48.0   convertible: 5   Min.   :-2.0000
 1st Qu.: 7775   1st Qu.: 70.0   hardtop    : 8   1st Qu.: 0.0000
 Median :10270   Median : 95.0   hatchback  :70   Median : 1.0000
 Mean   :13206   Mean   :104.2   sedan      :96   Mean   : 0.8235
 3rd Qu.:16501   3rd Qu.:116.0   wagon      :25   3rd Qu.: 2.0000
 Max.   :45400   Max.   :288.0                    Max.   : 3.0000
 NA's   :4       NA's   :2

#### Dataset cancer esófago


Se realizó un estudio retrospectivo de casos y controles de 200 casos masculinos de cáncer de esófago y 778 controles poblacionales en Ille-et-Vilanine (Francia). Los logaritmos de los riesgos relativos de desarrollar la enfermedad aumentan linealmente con el consumo diario de alcohol y tabaco de manera independiente. El efecto combinado de ambos se ajusta con un modelo multiplicativo que se propone. Este modelo podría ser aplicable a otras situaciones. Explica la proporción de sexos y las diferencias urbanas / rurales observadas en Ille-er-Vilaine. 

http://www.math.umd.edu/~evs/s430.old/Data/ESOPH.dat

Columnas:
* agegp: grupo de edad
* alcgp: consumo de alcohol
* tobgp: consumo de tabaco
* ncases: número de casos de cancer
* ncontrol: población de control

In [52]:
dfcancer<-read.csv("data/ESOPH.dat",skip=43,sep = "", stringsAsFactors = T)
head(dfcancer)

  agegp alcgp     tobgp    ncases ncontrols
1 25-34 0-39g/day 0-9g/day 0      40
2 25-34 0-39g/day 10-19    0      10
3 25-34 0-39g/day 20-29    0       6
4 25-34 0-39g/day 30+      0       5
5 25-34 40-79     0-9g/day 0      27
6 25-34 40-79     10-19    0       7

In [53]:
str(dfcancer)

'data.frame':	88 obs. of  5 variables:
 $ agegp    : Factor w/ 6 levels "25-34","35-44",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ alcgp    : Factor w/ 4 levels "0-39g/day","120+",..: 1 1 1 1 3 3 3 3 4 4 ...
 $ tobgp    : Factor w/ 4 levels "0-9g/day","10-19",..: 1 2 3 4 1 2 3 4 1 2 ...
 $ ncases   : int  0 0 0 0 0 0 0 0 0 0 ...
 $ ncontrols: int  40 10 6 5 27 7 4 7 2 1 ...

In [54]:
summary(dfcancer)

   agegp          alcgp         tobgp        ncases         ncontrols
 25-34:15   0-39g/day:23   0-9g/day:24   Min.   : 0.000   Min.   : 1.00
 35-44:15   120+     :21   10-19   :24   1st Qu.: 0.000   1st Qu.: 3.00
 45-54:16   40-79    :23   20-29   :20   Median : 1.000   Median : 6.00
 55-64:16   80-119   :21   30+     :20   Mean   : 2.273   Mean   :11.08
 65-74:15                                3rd Qu.: 4.000   3rd Qu.:14.00
 75+  :11                                Max.   :17.000   Max.   :60.00

En ocasiones podemos convertir los factores en números. Com en este caso que sustituimos los rangos por su valor medio:

In [55]:
unique(dfcancer$agegp)

[1] 25-34 35-44 45-54 55-64 65-74 75+
Levels: 25-34 35-44 45-54 55-64 65-74 75+

In [56]:
as.numeric(unique(dfcancer$agegp))

[1] 1 2 3 4 5 6

In [59]:
ageVectors <- c(30, 40, 50, 60, 70, 80)
as.numeric(dfcancer$agegp)

 [1] 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 3 3 3 3 3 3 3 3
[39] 3 3 3 3 3 3 3 3 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 5 5 5 5 5 5 5 5 5 5 5 5 5 5
[77] 5 6 6 6 6 6 6 6 6 6 6 6

In [62]:
ageVectors[as.numeric(dfcancer$agegp)]

 [1] 30 30 30 30 30 30 30 30 30 30 30 30 30 30 30 40 40 40 40 40 40 40 40 40 40
[26] 40 40 40 40 40 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 50 60 60 60 60
[51] 60 60 60 60 60 60 60 60 60 60 60 60 70 70 70 70 70 70 70 70 70 70 70 70 70
[76] 70 70 80 80 80 80 80 80 80 80 80 80 80

In [63]:
dfcancer$edad_numerica <- ageVectors[as.numeric(dfcancer$agegp)]

In [66]:
tail(dfcancer)

   agegp alcgp  tobgp    ncases ncontrols edad_numerica
83 75+   40-79  20-29    0      3         80
84 75+   40-79  30+      1      1         80
85 75+   80-119 0-9g/day 1      1         80
86 75+   80-119 10-19    1      1         80
87 75+   120+   0-9g/day 2      2         80
88 75+   120+   10-19    1      1         80

In [68]:
summary(dfcancer)

   agegp          alcgp         tobgp        ncases         ncontrols
 25-34:15   0-39g/day:23   0-9g/day:24   Min.   : 0.000   Min.   : 1.00
 35-44:15   120+     :21   10-19   :24   1st Qu.: 0.000   1st Qu.: 3.00
 45-54:16   40-79    :23   20-29   :20   Median : 1.000   Median : 6.00
 55-64:16   80-119   :21   30+     :20   Mean   : 2.273   Mean   :11.08
 65-74:15                                3rd Qu.: 4.000   3rd Qu.:14.00
 75+  :11                                Max.   :17.000   Max.   :60.00
 edad_numerica
 Min.   :30.00
 1st Qu.:40.00
 Median :50.00
 Mean   :53.86
 3rd Qu.:70.00
 Max.   :80.00

In [77]:
sort(table(dfcancer$alcgp), decreasing=T)[1:2]

0-39g/day     40-79
       23        23

In [74]:
?sort